.thank-you {
  margin: 4em 0;
}

/* .thank-you-container {
  margin-bottom: 10em;
} */

.contact {
  display: grid;
  grid-template-columns:
    1rem minmax(auto, 850px)
    1rem;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  row-gap: 2rem;
  z-index: 1;
  position: relative;
}
.contact h3 {
  font-size: var(--h4);
  margin-top: 1.5em;
  margin-bottom: 0;
  font-weight: 600;
}
.red-text {
  font-weight: 500;
  color: red;
  text-align: center;
}

.call-to-action {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  max-width: 500px;
  grid-template-rows: repeat(3, min-content);
  background-color: var(--arthurMurrayBlue);
  color: var(--offwhite);
  padding: 1em 0;
  justify-self: center;
}
input + p {
  display: none;
  font-size: 0.85em;
}
.call-to-action p {
  text-align: center;
}

.form h2 {
  text-align: center;
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.call-to-action h2 {
  text-align: center;
}
.call-to-action > * {
  padding: 0 1rem;
}

.contact-tag {
  text-transform: uppercase;
  color: var(--arthurMurrayYellow);
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 1.8em;
  text-align: center;
}
.contact-tag span {
  display: inline-block;
}
.call-to-action ul {
  max-width: 380px;
  justify-self: center;
}
.call-to-action li {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 0.5em;
}

.form {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow: hidden;
  justify-self: center;
  width: 100%;
  max-width: 450px;
}
.form-info {
  text-align: left;
}

fieldset {
  border: none;
  width: 100%;
  color: var(--darkgray);
  display: grid;
  font-family: "Josefin Sans", sans-serif;
}

.radio-buttons p {
  font-weight: bold;
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
}
.fieldset p {
  font-family: "Montserrat", sans-serif;
}

.contact label {
  text-align: left;
  display: block;
  margin-top: 1em;
  font-weight: bold;
}
.contact label:nth-last-of-type(1) {
  margin-top: 0;
}

input,
textarea {
  padding: 0.83rem;
  border: solid 1px #999;
  border-radius: 8px;
  background-color: rgb(243, 243, 243);
  margin-top: 0.3em;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus {
  outline-color: var(--arthurMurrayYellow);
  background-color: #fff;
}
input::placeholder,
textarea::placeholder {
  font-size: 0.9rem;
  color: #999;
  font-family: "Montserrat", sans-serif;
}

button {
  margin-top: 1.5em;
  display: block;
  padding: 0.9em 1em 0.7em;
  border-radius: 25px;
  border: solid 1px transparent;
  background-color: var(--arthurMurrayBlue);
  color: #fff;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 400;
  width: 7.5em;
  justify-self: right;
  transition: all 0.4s ease-out;
}

button:hover:valid {
  cursor: pointer;
  color: var(--darkgray);
  border: solid 1px var(--lightgray);
  transition: all 0.4s ease-out;
  box-shadow: inset 0 0 1em 2em var(--arthurMurrayYellow);
}

.requiredText {
  font-size: 0.8em;
  margin-top: -1em;
  margin-bottom: -0.5em;
}

.required::after {
  content: " * ";
  color: red;
  font-weight: bold;
}

input.dirty:not(:focus):valid {
  border: 2px solid var(--arthurMurrayBlue);
}
input.dirty:not(:focus):invalid {
  border: 2px solid #e80000;
}

.dirty:not(:focus):invalid + p {
  display: block;
  color: #e80000;
}

#name.dirty:not(:focus):invalid + p {
  margin-bottom: -0.5rem;
  margin-top: 0.3rem;
}

#phone.dirty:not(:focus):invalid + p {
  margin-bottom: 0.3rem;
  margin-top: -0.8rem;
}

#email.dirty:not(:focus):invalid + p {
  margin-top: 0.3rem;
  margin-bottom: -0.6rem;
}

#phone {
  margin-bottom: 1rem;
}

.radio-buttons input[type="radio"] {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.radio-buttons input[type="radio"] + label {
  border: 1px solid rgb(197, 197, 197);
  background-color: var(--offwhite);
  padding: 0.4rem 0.6rem 0.15rem;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  color: black;
}

.radio-buttons input[type="radio"] + label:hover {
  cursor: pointer;
}

.radio-buttons input[type="radio"]:checked + label {
  background-color: var(--arthurMurrayBlue);
  color: var(--offwhite);
}

.consent-check {
  cursor: pointer;
  text-align: start;
  display: inline;
  margin-top: 1em;
}
.contact label.consent-label {
  display: inline;
  font-size: 0.8em;
  font-weight: 400;
}

@media screen and (min-width: 300px) {
  .consent-check {
    padding: 0;
  }
}

@media screen and (min-width: 857px) {
  .consent-check {
    padding: 0.83rem;
  }
  
  .thank-you {
    margin: 6em 0 6em;
  }
}
