.testimonials {
  padding: 2em 0;
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(auto, 1200px) minmax(1em, 1fr);
  justify-content: center;
  background: var(--white);
  z-index: 1;
  position: relative;
}

.testimonials h2 {
  grid-column: 2 / 3;
  color: var(--darkgray);
  text-align: center;
}
.testimonial {
  box-shadow: -1px 0 10px #555;
  width: 320px;
  height: 181px;
}

.testimonials-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  grid-column: 2 / 3;
}
.reviews h2 {
  grid-column: 2 / 3;
  color: var(--darkgray);
  text-align: center;
}

/* for old safari, no flex gap */
@media screen and (min-width: 600px) {
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .review {
        margin: 0.5em 0.5em;
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  .testimonials {
    padding: 5em 0 6em;
  }
  .testimonial {
    width: 280px;
    height: 157.09px;
  }
  .testimonials-grid {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 157.09px;
  }
}

@media screen and (min-width: 1248px) {
  .testimonials {
    padding: 5em 0 6em;
  }
  .testimonial {
    width: 388px;
    height: 220px;
  }
  .testimonials-grid {
    display: grid;
    grid-template-columns: 388px 388px 388px;
    grid-template-rows: 220px;
  }
}
