<link rel="stylesheet" href="styles/calendar.css" />
<h2 class="calendar-header" id="calendar">Calendar</h2>
<!--<a
  href="./images/northvilleCalendar.jpg"
  target="_blank"
  aria-label="opens in a new tab"
>
  <img
    src="./images/northvilleCalendar.jpg"
    alt="Arthur Murray Northville Group Class Calendar"
    width="1000"
    height="773"
    class="calendar"
  />
</a>
<a
  href="./images/northvilleCalendarNext.jpg"
  target="_blank"
  aria-label="opens in a new tab"
>
  <img
    src="./images/northvilleCalendarNext.jpg"
    alt="Arthur Murray Northville Group Class Calendar"
    width="1000"
    height="773"
    class="calendar"
  />
</a>-->

<p>*Group Class Calendar for current students only</p>
