<link rel="stylesheet" href="/styles/footer.css" />
<footer class="site-footer">
  <div class="footer">
      <div class="getting-started">
        <p>Getting Started</p>
        <nav class="footer-nav">
          <ul >
            <li><a href="./singles-dance-lessons.html">Singles Dance Lessons</a></li>
            <li><a href="./couples-dance-lessons.html">Couples Dance Lessons</a></li>
            <li><a href="./wedding-dance-lessons.html">Wedding Dance Lessons</a></li>
            <li><a href="./salsa-lessons-ann-arbor.html">Salsa Dance Lessons</a></li>
            <li><a href="./swing-lessons-ann-arbor.html">Swing Dance Lessons</a></li>
            <li><a href="./argentine-tango-lessons-ann-arbor.html">Argentine Tango Lessons</a></li>
            <li><a href="./country-dance-lessons-ann-arbor.html">Country Dance Lessons</a></li>
            
            
          </ul>
        </nav>
      </div>
      <div class="info">
        <p>About Us</p>
        <nav class="footer-nav">
          <ul >
            <li><a href="./dances-we-teach.html">Dances We Teach</a></li>
            <li><a href="./how-we-teach.html">How We Teach</a></li>
            <li><a href="./frequently-asked-questions.html">FAQ</a></li>
            <li><a href="./legacy.html">The Legacy</a></li>
            <li><a href="./careers.html">Careers</a></li>
            <li><a href="./privacy-policy.html">Privacy Policy</a></li>
            <li><a href="./site-map.html">Site Map</a></li>
          </ul>
        </nav>
      </div>
     <div class="studio-contact">
       <p><a href="./dance-lessons-ann-arbor.html">Ann Arbor Studio</a></p>
       <nav class="social-links social-links-sb">
        <a
          href="https://www.facebook.com/annarborarthurmurray/"
          target="_blank"
          aria-label="Go to Arthur Murray Ann Arbor Facebook Page"
          rel="noreferrer"
          ><i class="fab fa-facebook-f" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.instagram.com/annarborarthurmurray/"
          target="_blank"
          aria-label="Go to Arthur Murray Ann Arbor Instagram Page"
          rel="noreferrer"
          ><i class="fab fa-instagram" aria-hidden="true"></i
        ></a>
               </nav>
       <div class="contact-info">
         <p><a href="tel:+17349959500">1 (734) 995-9500</a></p>
         <p><a href="https://maps.app.goo.gl/g3heFrmuoJaLn3aM8" target="_blank" aria-label="Go to Google Maps studio address - Opens in a new tab">6075 Jackson Rd<br> Ann Arbor, MI 48103</a></p>
       </div>
       
       <p class="surrounding-cities">Serving     
        <a href="./dance-lessons-ann-arbor.html">Ann Arbor</a>,
        <a href="./dance-lessons-brighton.html">Brighton</a>,
        <a href="./dance-lessons-dexter.html">Dexter</a>,
        <a href="./dance-lessons-saline.html">Saline</a>, and
        <a href="./dance-lessons-ypsilanti.html">Ypsilanti</a>.
        
      </p> 
     </div>
  </div>  
  <div class="marketing-links">
    <p class="copywriting">
      <small class="copywrite-year">
        Copyright © <span class="copy-year">2025</span>, </small
      ><small>  Arthur Murray</small>
    </p>
    <p class="onbeat-link">
      <small>Local SEO and Marketing by <a href="https://onbeatmarketing.com">OnBeat Marketing</small></a>
    </p>
  </div>  


</footer>
<!---->