<link rel="stylesheet" href="/styles/footer.css" />
<footer class="site-footer">
  <div class="footer">
      <div class="getting-started">
        <p>Getting Started</p>
        <nav class="footer-nav">
          <ul >
            <li><a href="./singles-dance-lessons.html">Singles Dance Lessons</a></li>
            <li><a href="./couples-dance-lessons.html">Couples Dance Lessons</a></li>
            <li><a href="./wedding-dance-lessons.html">Wedding Dance Lessons</a></li>
            <li><a href="./salsa-lessons-northville.html">Salsa Dance Lessons</a></li>
            <li><a href="./swing-lessons-northville.html">Swing Dance Lessons</a></li>
            <li><a href="./argentine-tango-lessons-northville.html">Argentine Tango Lessons</a></li>
            <li><a href="./country-dance-lessons-northville.html">Country Dance Lessons</a></li>
            
            
          </ul>
        </nav>
      </div>
      <div class="info">
        <p>About Us</p>
        <nav class="footer-nav">
          <ul >
            <li><a href="./dances-we-teach.html">Dances We Teach</a></li>
            <li><a href="./how-we-teach.html">How We Teach</a></li>
            <li><a href="./frequently-asked-questions.html">FAQ</a></li>
            <li><a href="./legacy.html">The Legacy</a></li>
            <li><a href="./careers.html">Careers</a></li>
            <li><a href="./privacy-policy.html">Privacy Policy</a></li>
            <li><a href="./site-map.html">Site Map</a></li>
          </ul>
        </nav>
      </div>
     <div class="studio-contact">
       <p><a href="./dance-lessons-northville.html">Northville Studio</a></p>
       <nav class="social-links social-links-sb">
        <a
          href="https://www.facebook.com/northvillearthurmurray/"
          target="_blank"
          aria-label="Go to Arthur Murray Northville Facebook Page"
          rel="noreferrer"
          ><i class="fab fa-facebook-f" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.instagram.com/arthurmurraynorthville/"
          target="_blank"
          aria-label="Go to Arthur Murray Northville Instagram Page"
          rel="noreferrer"
          ><i class="fab fa-instagram" aria-hidden="true"></i
        ></a>
               </nav>
       <div class="contact-info">
         <p><a href="tel:+12483491133">1 (248) 349-1133</a></p>
         <p><a href="https://maps.app.goo.gl/diFSxhvaYReFQ8BV9" target="_blank" aria-label="Go to Google Maps studio address - Opens in a new tab">42000 W Six Mile Rd, Suite #250<br> Northville, MI 48168</a></p>
       </div>
       
       <p class="surrounding-cities">Serving     
        <a href="./dance-lessons-northville.html">Northville</a>,
        <a href="./dance-lessons-canton.html">Canton</a>,
        <a href="./dance-lessons-farmington.html">Farmington</a>,
        <a href="./dance-lessons-livonia.html">Livonia</a>,
        <a href="./dance-lessons-novi.html">Novi</a>,
        <a href="./dance-lessons-plymouth.html">Plymouth</a>, and
        <a href="./dance-lessons-salem.html">Salem</a>.
        
        
      </p> 
     </div>
  </div>  
  <div class="marketing-links">
    <p class="copywriting">
      <small class="copywrite-year">
        Copyright © <span class="copy-year">2025</span>, </small
      ><small>  Arthur Murray</small>
    </p>
    <p class="onbeat-link">
      <small>Local SEO and Marketing by <a href="https://onbeatmarketing.com">OnBeat Marketing</small></a>
    </p>
  </div>  


</footer>