<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

<section class="navWrap">
  <a href="/"
    ><img
      src="images/AMLogo.svg"
      alt="Arthur Murray Logo"
      class="logo"
      width="160"
      height="38"
  /></a>
  <div class="menu-group">
    <div class="contact-button-mobile">
      <a href="#contact" id="contactButtonMobile"
        ><i class="fa fa-envelope-o" aria-hidden="true"></i
      ></a>
    </div>
    <input type="checkbox" id="navToggle" class="navToggle" />
    <label for="navToggle" class="navToggleLabel"><span></span></label>
    <nav>
      <ul>
        <li>
          <input type="checkbox" id="programsToggle" class="programsToggle" />
          <label for="programsToggle" class="programsToggleLabel dropdown"
            >Getting Started <i class="fas fa-chevron-down"></i
          ></label>
          <ul class="dropdown-menu">
            <li><a href="./singles-dance-lessons.html">Singles</a></li>
            <li><a href="./couples-dance-lessons.html">Couples</a></li>
            <li><a href="./wedding-dance-lessons.html">Wedding</a></li>
          </ul>
        </li>

        <li>
          <input type="checkbox" id="aboutToggle" class="aboutToggle" />
          <label for="aboutToggle" class="aboutToggleLabel dropdowm"
            >About <i class="fas fa-chevron-down"></i
          ></label>
          <ul class="dropdown-menu">
            <li><a href="./dances-we-teach.html">Dances we Teach</a></li>
            <li><a href="./how-we-teach.html">How we Teach</a></li>
            <li><a href="./frequently-asked-questions.html">FAQ</a></li>
            <li><a href="./legacy.html">The Legacy</a></li>
            <li><a href="./careers.html">Careers</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="locationsToggle" class="locationsToggle" />
          <label for="locationsToggle" class="locationsToggleLabel dropdown"
            >Studio <i class="fas fa-chevron-down"></i
          ></label>
          <ul class="dropdown-menu">
            <li>
              <a href="./dance-lessons-ann-arbor">Ann Arbor</a>
            </li>
            <li>
              <a href="https://northvilledance.com/dance-lessons-northville"
                >Northville</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="./gift-certificates.html">Gift Certificates</a>
        </li>
        <li>
          <a href="#contact" class="btn" role="button" id="newStudentOffer"
            >New Student Offer</a
          >
        </li>
      </ul>
    </nav>
  </div>
</section>
