<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta
  name="keywords"
  content="Ballroom Dance Lessons, Dance Studio, Northville, Ann Arbor, Michigan"
/>
<meta
  name="author"
  content="Kyle Campbell, Christina Campbell, OnBeat Marketing"
/>
<meta property="og:title" content="Arthur Murray Dance Studio Northville" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://northvilledance.com/" />
<meta
  property="og:image"
  content="https://northvilledance.com/images/CouplesDanceLessons.jpg"
/>
<meta
  property="og:image:alt"
  content="Walk in, Dance out! Start learning to dance today!"
/>
<meta
  property="og:description"
  content="Arthur Murray Northville Dance Studio specializes in teaching beginner dancers everything they need to know to survive on the dance floor. Our interrelated system makes learning to dance to any style of music fun, quick, and easy!"
/>
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
<link
  rel="stylesheet"
  href="/fonts/JosephinSans/josefinSans.css"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  href="/fonts/Montserrat/montserrat.css"
  type="text/css"
  media="all"
/>
<script
  async
  src="https://kit.fontawesome.com/9959b546c4.js"
  crossorigin="anonymous"
></script>
<!-- Google tag (gtag.js) -->

<!-- Meta Pixel Code -->

<!-- End Meta Pixel Code -->
