<figure class="ig-profile sb-profile afade">
  <a href="https://www.instagram.com/arthurmurraynorthville/">
    <img
      class="profile-pic"
      src="./images/AMNorthvilleProfile.jpg"
      alt="Arthur Murray Northville Profile Picture"
      width="50"
      height="50"
      loading="lazy"
    />
    <i class="fab fa-instagram"></i>
    <h3>arthurmurraynorthville</h3>
    <p>The most famous dance organization in the world 💃🏻🕺</p>
  </a>
</figure>
<div class="instafeed instafeed1" id="sbInstaFeed"></div>
