<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "image": [
      "https://northvilledance.com/images/AMLogo.svg",
      "https://northvilledance.com/images/CouplesDanceLessons.jpg"
    ],
    "logo": "https://northvilledance.com/images/AMLogo.svg",
    "name": "Arthur Murray Dance Studio Northville",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "42000 W Six Mile Rd, Suite #250",
      "addressLocality": "Northville",
      "addressRegion": "MI",
      "postalCode": "48168",
      "addressCountry": "US"
    },
    "telephone": "+12483491133",
    "location": {
      "@type": "Place",
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 42.411818483088844,
        "longitude": -83.45890562694578


      }
    },
    "sameAs": [
      "https://www.instagram.com/arthurmurraynorthville/",
      "https://www.facebook.com/northvillearthurmurray/"
    ],
    "areaServed": [
      {
        "@type": "City",
        "name": ["Ann Arbor", "Northville", "Plymouth", "Livonia", "Canton", "Farmington", "Novi", "Salem"]
      }
    ],
    "priceRange": "$$$",
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "12:00",
        "closes": "21:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [ "Saturday"],
        "opens": "10:00",
        "closes": "15:00"
      }


    ],
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.9",
      "reviewCount": "35"
    },
    "review": [
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Amanda Tome"
        },
        "reviewBody": "My husband and I took lessons here for our first wedding dance and I
          could not be more impressed. ...",
        "datePublished": "2024-12-08",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "worstRating": "1",
          "bestRating": "5"
        }
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "John Hester"
        },
        "reviewBody": "My wife and I always have a great time when we come to dance. The
          studio is always upbeat and a pleasure to visit. ...",
        "datePublished": "2024-12-03",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "worstRating": "1",
          "bestRating": "5"
        }
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Hyeyoung Petroni"
        },
        "reviewBody": "... All of the instructors are very friendly and
          knowledgeable. I love learning dance at Arthur Murray!",
        "datePublished": "2024-08-28",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "worstRating": "1",
          "bestRating": "5"
        }
      }
    ],
    "description": "Arthur Murray Northville specializes in teaching beginner dancers everything they need to know to survive on the dance floor. Our interrelated system makes learning to dance to any style of music fun, quick, and easy!",
    "url": "https://northvilledance.com/"
  }
</script>
